aniso8601==10.0.0
annotated-types==0.7.0
asgiref==3.11.1
attrs==25.1.0
blinker==1.9.0
charset-normalizer==3.4.4
click==8.1.7
colorama==0.4.6
-e git+https://github.com/django/django.git@e84dc8715e91d51364ba6bda2b2fb07e7a8b750e#egg=Django
django-phonenumber-field==8.4.0
Flask==2.3.3
flask-restx==1.2.0
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.17.3
MarkupSafe==3.0.2
phonenumbers==9.0.25
pillow==12.1.1
pydantic==2.10.6
pydantic_core==2.27.2
pyrsistent==0.20.0
python-dotenv==1.2.1
pytz==2025.1
reportlab==4.4.10
sqlparse==0.5.5
typing_extensions==4.12.2
tzdata==2025.3
Werkzeug==2.3.8
